@font-face {
  font-family: 'techroider';
  src: url('../font/techroider.eot?87127677');
  src: url('../font/techroider.eot?87127677#iefix') format('embedded-opentype'),
       url('../font/techroider.woff2?87127677') format('woff2'),
       url('../font/techroider.woff?87127677') format('woff'),
       url('../font/techroider.ttf?87127677') format('truetype'),
       url('../font/techroider.svg?87127677#techroider') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'techroider';
    src: url('../font/techroider.svg?87127677#techroider') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "techroider";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-search:before { content: '\e800'; } /* '' */
.icon-help:before { content: '\e801'; } /* '' */
.icon-help-circled:before { content: '\e802'; } /* '' */
.icon-back:before { content: '\e803'; } /* '' */
.icon-home:before { content: '\e804'; } /* '' */
.icon-link:before { content: '\e805'; } /* '' */
.icon-attach:before { content: '\e806'; } /* '' */
.icon-lock:before { content: '\e807'; } /* '' */
.icon-lock-open:before { content: '\e808'; } /* '' */
.icon-code:before { content: '\e809'; } /* '' */
.icon-bell:before { content: '\e80a'; } /* '' */
.icon-attention:before { content: '\e80b'; } /* '' */
.icon-doc-text-inv:before { content: '\e80c'; } /* '' */
.icon-cup:before { content: '\e80d'; } /* '' */
.icon-direction:before { content: '\e80e'; } /* '' */
.icon-location:before { content: '\e80f'; } /* '' */
.icon-clock:before { content: '\e810'; } /* '' */
.icon-hourglass:before { content: '\e811'; } /* '' */
.icon-lamp:before { content: '\e812'; } /* '' */
.icon-light-down:before { content: '\e813'; } /* '' */
.icon-light-up:before { content: '\e814'; } /* '' */
.icon-adjust:before { content: '\e815'; } /* '' */
.icon-block:before { content: '\e816'; } /* '' */
.icon-resize-full:before { content: '\e817'; } /* '' */
.icon-resize-small:before { content: '\e818'; } /* '' */
.icon-down-open-big:before { content: '\e819'; } /* '' */
.icon-left-open-big:before { content: '\e81a'; } /* '' */
.icon-right-open-big:before { content: '\e81b'; } /* '' */
.icon-up-open-big:before { content: '\e81c'; } /* '' */
.icon-left-open:before { content: '\e81d'; } /* '' */
.icon-right-open:before { content: '\e81e'; } /* '' */
.icon-up-open:before { content: '\e81f'; } /* '' */
.icon-down-open-mini:before { content: '\e820'; } /* '' */
.icon-left-open-mini:before { content: '\e821'; } /* '' */
.icon-right-open-mini:before { content: '\e822'; } /* '' */
.icon-up-open-mini:before { content: '\e823'; } /* '' */
.icon-down-dir:before { content: '\e824'; } /* '' */
.icon-left-dir:before { content: '\e825'; } /* '' */
.icon-up-dir:before { content: '\e826'; } /* '' */
.icon-right-dir:before { content: '\e827'; } /* '' */
.icon-dot-3:before { content: '\e828'; } /* '' */
.icon-dot-2:before { content: '\e829'; } /* '' */
.icon-cc-sa:before { content: '\e82a'; } /* '' */
.icon-cc-nd:before { content: '\e82b'; } /* '' */
.icon-cc-pd:before { content: '\e82c'; } /* '' */
.icon-cc-zero:before { content: '\e82d'; } /* '' */
.icon-cc-share:before { content: '\e82e'; } /* '' */
.icon-cc-remix:before { content: '\e82f'; } /* '' */
.icon-github-1:before { content: '\e830'; } /* '' */
.icon-flickr-circled:before { content: '\e831'; } /* '' */
.icon-heart:before { content: '\e832'; } /* '' */
.icon-heart-filled:before { content: '\e833'; } /* '' */
.icon-star:before { content: '\e834'; } /* '' */
.icon-star-filled:before { content: '\e835'; } /* '' */
.icon-user-outline:before { content: '\e836'; } /* '' */
.icon-user:before { content: '\e837'; } /* '' */
.icon-ok-outline:before { content: '\e838'; } /* '' */
.icon-ok:before { content: '\e839'; } /* '' */
.icon-cancel-outline:before { content: '\e83a'; } /* '' */
.icon-cancel:before { content: '\e83b'; } /* '' */
.icon-cancel-alt:before { content: '\e83c'; } /* '' */
.icon-cancel-alt-filled:before { content: '\e83d'; } /* '' */
.icon-cancel-circled-outline:before { content: '\e83e'; } /* '' */
.icon-cancel-circled:before { content: '\e83f'; } /* '' */
.icon-attach-outline:before { content: '\e840'; } /* '' */
.icon-attach-1:before { content: '\e841'; } /* '' */
.icon-pin-outline:before { content: '\e842'; } /* '' */
.icon-pin:before { content: '\e843'; } /* '' */
.icon-eye-outline:before { content: '\e844'; } /* '' */
.icon-eye:before { content: '\e845'; } /* '' */
.icon-tag:before { content: '\e846'; } /* '' */
.icon-thumbs-up:before { content: '\e847'; } /* '' */
.icon-thumbs-down:before { content: '\e848'; } /* '' */
.icon-download-outline:before { content: '\e849'; } /* '' */
.icon-download:before { content: '\e84a'; } /* '' */
.icon-upload-outline:before { content: '\e84b'; } /* '' */
.icon-upload:before { content: '\e84c'; } /* '' */
.icon-reply:before { content: '\e84d'; } /* '' */
.icon-forward-outline:before { content: '\e84e'; } /* '' */
.icon-forward:before { content: '\e84f'; } /* '' */
.icon-code-outline:before { content: '\e850'; } /* '' */
.icon-code-1:before { content: '\e851'; } /* '' */
.icon-export-outline:before { content: '\e852'; } /* '' */
.icon-export:before { content: '\e853'; } /* '' */
.icon-pencil:before { content: '\e854'; } /* '' */
.icon-attention-1:before { content: '\e855'; } /* '' */
.icon-attention-filled:before { content: '\e856'; } /* '' */
.icon-warning-empty:before { content: '\e857'; } /* '' */
.icon-warning:before { content: '\e858'; } /* '' */
.icon-location-outline:before { content: '\e859'; } /* '' */
.icon-location-1:before { content: '\e85a'; } /* '' */
.icon-direction-outline:before { content: '\e85b'; } /* '' */
.icon-direction-1:before { content: '\e85c'; } /* '' */
.icon-compass:before { content: '\e85d'; } /* '' */
.icon-trash:before { content: '\e85e'; } /* '' */
.icon-doc:before { content: '\e85f'; } /* '' */
.icon-folder:before { content: '\e860'; } /* '' */
.icon-cog-outline:before { content: '\e861'; } /* '' */
.icon-cog:before { content: '\e862'; } /* '' */
.icon-wrench-outline:before { content: '\e863'; } /* '' */
.icon-rss-outline:before { content: '\e864'; } /* '' */
.icon-rss:before { content: '\e865'; } /* '' */
.icon-left-open-outline:before { content: '\e866'; } /* '' */
.icon-left-open-1:before { content: '\e867'; } /* '' */
.icon-right-open-outline:before { content: '\e868'; } /* '' */
.icon-right-open-1:before { content: '\e869'; } /* '' */
.icon-down:before { content: '\e86a'; } /* '' */
.icon-left:before { content: '\e86b'; } /* '' */
.icon-right:before { content: '\e86c'; } /* '' */
.icon-up:before { content: '\e86d'; } /* '' */
.icon-down-outline:before { content: '\e86e'; } /* '' */
.icon-left-outline:before { content: '\e86f'; } /* '' */
.icon-right-outline:before { content: '\e870'; } /* '' */
.icon-up-outline:before { content: '\e871'; } /* '' */
.icon-down-small:before { content: '\e872'; } /* '' */
.icon-left-small:before { content: '\e873'; } /* '' */
.icon-right-small:before { content: '\e874'; } /* '' */
.icon-up-small:before { content: '\e875'; } /* '' */
.icon-contrast:before { content: '\e876'; } /* '' */
.icon-sun:before { content: '\e877'; } /* '' */
.icon-sun-filled:before { content: '\e878'; } /* '' */
.icon-flow-split:before { content: '\e879'; } /* '' */
.icon-looped-square-outline:before { content: '\e87a'; } /* '' */
.icon-looped-square-interest:before { content: '\e87b'; } /* '' */
.icon-sort-alphabet-outline:before { content: '\e87c'; } /* '' */
.icon-sort-alphabet:before { content: '\e87d'; } /* '' */
.icon-sort-numeric-outline:before { content: '\e87e'; } /* '' */
.icon-heart-1:before { content: '\e87f'; } /* '' */
.icon-heart-empty:before { content: '\e880'; } /* '' */
.icon-star-1:before { content: '\e881'; } /* '' */
.icon-ok-1:before { content: '\e882'; } /* '' */
.icon-ok-circle:before { content: '\e883'; } /* '' */
.icon-cancel-1:before { content: '\e884'; } /* '' */
.icon-cancel-circle:before { content: '\e885'; } /* '' */
.icon-link-1:before { content: '\e886'; } /* '' */
.icon-attach-2:before { content: '\e887'; } /* '' */
.icon-lock-1:before { content: '\e888'; } /* '' */
.icon-lock-empty:before { content: '\e889'; } /* '' */
.icon-lock-open-1:before { content: '\e88a'; } /* '' */
.icon-lock-open-empty:before { content: '\e88b'; } /* '' */
.icon-pin-1:before { content: '\e88c'; } /* '' */
.icon-comment:before { content: '\e88d'; } /* '' */
.icon-comment-inv:before { content: '\e88e'; } /* '' */
.icon-pencil-1:before { content: '\e88f'; } /* '' */
.icon-pencil-neg:before { content: '\e890'; } /* '' */
.icon-pencil-alt:before { content: '\e891'; } /* '' */
.icon-comment-alt:before { content: '\e892'; } /* '' */
.icon-comment-inv-alt:before { content: '\e893'; } /* '' */
.icon-comment-alt2:before { content: '\e894'; } /* '' */
.icon-comment-inv-alt2:before { content: '\e895'; } /* '' */
.icon-sun-1:before { content: '\e896'; } /* '' */
.icon-sun-inv:before { content: '\e897'; } /* '' */
.icon-hash:before { content: '\e898'; } /* '' */
.icon-at:before { content: '\e899'; } /* '' */
.icon-ok-2:before { content: '\e89a'; } /* '' */
.icon-cancel-2:before { content: '\e89b'; } /* '' */
.icon-duckduckgo:before { content: '\e89c'; } /* '' */
.icon-aim:before { content: '\e89d'; } /* '' */
.icon-delicious:before { content: '\e89e'; } /* '' */
.icon-paypal-2:before { content: '\e89f'; } /* '' */
.icon-flattr-1:before { content: '\e8a0'; } /* '' */
.icon-android:before { content: '\e8a1'; } /* '' */
.icon-eventful:before { content: '\e8a2'; } /* '' */
.icon-smashmag:before { content: '\e8a3'; } /* '' */
.icon-gplus-2:before { content: '\e8a4'; } /* '' */
.icon-wikipedia:before { content: '\e8a5'; } /* '' */
.icon-lanyrd:before { content: '\e8a6'; } /* '' */
.icon-calendar:before { content: '\e8a7'; } /* '' */
.icon-stumbleupon-1:before { content: '\e8a8'; } /* '' */
.icon-fivehundredpx:before { content: '\e8a9'; } /* '' */
.icon-pinterest-2:before { content: '\e8aa'; } /* '' */
.icon-bitcoin:before { content: '\e8ab'; } /* '' */
.icon-w3c:before { content: '\e8ac'; } /* '' */
.icon-foursquare:before { content: '\e8ad'; } /* '' */
.icon-html5-1:before { content: '\e8ae'; } /* '' */
.icon-ie:before { content: '\e8af'; } /* '' */
.icon-call:before { content: '\e8b0'; } /* '' */
.icon-grooveshark:before { content: '\e8b1'; } /* '' */
.icon-ninetyninedesigns:before { content: '\e8b2'; } /* '' */
.icon-forrst:before { content: '\e8b3'; } /* '' */
.icon-digg:before { content: '\e8b4'; } /* '' */
.icon-spotify-1:before { content: '\e8b5'; } /* '' */
.icon-reddit:before { content: '\e8b6'; } /* '' */
.icon-guest:before { content: '\e8b7'; } /* '' */
.icon-gowalla:before { content: '\e8b8'; } /* '' */
.icon-appstore:before { content: '\e8b9'; } /* '' */
.icon-blogger:before { content: '\e8ba'; } /* '' */
.icon-cc:before { content: '\e8bb'; } /* '' */
.icon-dribbble-1:before { content: '\e8bc'; } /* '' */
.icon-evernote-1:before { content: '\e8bd'; } /* '' */
.icon-flickr-1:before { content: '\e8be'; } /* '' */
.icon-google-1:before { content: '\e8bf'; } /* '' */
.icon-viadeo:before { content: '\e8c0'; } /* '' */
.icon-instapaper:before { content: '\e8c1'; } /* '' */
.icon-weibo:before { content: '\e8c2'; } /* '' */
.icon-klout:before { content: '\e8c3'; } /* '' */
.icon-linkedin-2:before { content: '\e8c4'; } /* '' */
.icon-meetup:before { content: '\e8c5'; } /* '' */
.icon-vk:before { content: '\e8c6'; } /* '' */
.icon-plancast:before { content: '\e8c7'; } /* '' */
.icon-disqus:before { content: '\e8c8'; } /* '' */
.icon-rss-1:before { content: '\e8c9'; } /* '' */
.icon-skype-1:before { content: '\e8ca'; } /* '' */
.icon-twitter-2:before { content: '\e8cb'; } /* '' */
.icon-youtube:before { content: '\e8cc'; } /* '' */
.icon-vimeo-1:before { content: '\e8cd'; } /* '' */
.icon-windows-1:before { content: '\e8ce'; } /* '' */
.icon-xing:before { content: '\e8cf'; } /* '' */
.icon-yahoo:before { content: '\e8d0'; } /* '' */
.icon-chrome-1:before { content: '\e8d1'; } /* '' */
.icon-email:before { content: '\e8d2'; } /* '' */
.icon-macstore:before { content: '\e8d3'; } /* '' */
.icon-myspace:before { content: '\e8d4'; } /* '' */
.icon-podcast:before { content: '\e8d5'; } /* '' */
.icon-amazon:before { content: '\e8d6'; } /* '' */
.icon-steam-1:before { content: '\e8d7'; } /* '' */
.icon-cloudapp:before { content: '\e8d8'; } /* '' */
.icon-dropbox-1:before { content: '\e8d9'; } /* '' */
.icon-ebay:before { content: '\e8da'; } /* '' */
.icon-facebook-2:before { content: '\e8db'; } /* '' */
.icon-github-2:before { content: '\e8dc'; } /* '' */
.icon-github-circled-2:before { content: '\e8dd'; } /* '' */
.icon-googleplay:before { content: '\e8de'; } /* '' */
.icon-itunes:before { content: '\e8df'; } /* '' */
.icon-plurk:before { content: '\e8e0'; } /* '' */
.icon-songkick:before { content: '\e8e1'; } /* '' */
.icon-lastfm-1:before { content: '\e8e2'; } /* '' */
.icon-gmail:before { content: '\e8e3'; } /* '' */
.icon-pinboard:before { content: '\e8e4'; } /* '' */
.icon-openid:before { content: '\e8e5'; } /* '' */
.icon-quora:before { content: '\e8e6'; } /* '' */
.icon-soundcloud-1:before { content: '\e8e7'; } /* '' */
.icon-tumblr-2:before { content: '\e8e8'; } /* '' */
.icon-eventasaurus:before { content: '\e8e9'; } /* '' */
.icon-wordpress-1:before { content: '\e8ea'; } /* '' */
.icon-yelp:before { content: '\e8eb'; } /* '' */
.icon-intensedebate:before { content: '\e8ec'; } /* '' */
.icon-eventbrite:before { content: '\e8ed'; } /* '' */
.icon-scribd:before { content: '\e8ee'; } /* '' */
.icon-posterous:before { content: '\e8ef'; } /* '' */
.icon-stripe:before { content: '\e8f0'; } /* '' */
.icon-opentable:before { content: '\e8f1'; } /* '' */
.icon-cart:before { content: '\e8f2'; } /* '' */
.icon-print:before { content: '\e8f3'; } /* '' */
.icon-angellist:before { content: '\e8f4'; } /* '' */
.icon-instagram-2:before { content: '\e8f5'; } /* '' */
.icon-dwolla:before { content: '\e8f6'; } /* '' */
.icon-appnet:before { content: '\e8f7'; } /* '' */
.icon-statusnet:before { content: '\e8f8'; } /* '' */
.icon-acrobat:before { content: '\e8f9'; } /* '' */
.icon-drupal:before { content: '\e8fa'; } /* '' */
.icon-buffer:before { content: '\e8fb'; } /* '' */
.icon-pocket:before { content: '\e8fc'; } /* '' */
.icon-bitbucket:before { content: '\e8fd'; } /* '' */
.icon-lego:before { content: '\e8fe'; } /* '' */
.icon-login:before { content: '\e8ff'; } /* '' */
.icon-stackoverflow-1:before { content: '\e900'; } /* '' */
.icon-hackernews:before { content: '\e901'; } /* '' */
.icon-lkdto:before { content: '\e902'; } /* '' */
.icon-facebook-3:before { content: '\e903'; } /* '' */
.icon-facebook-rect:before { content: '\e904'; } /* '' */
.icon-twitter-bird:before { content: '\e905'; } /* '' */
.icon-vimeo-2:before { content: '\e906'; } /* '' */
.icon-vimeo-rect:before { content: '\e907'; } /* '' */
.icon-tumblr-rect:before { content: '\e908'; } /* '' */
.icon-googleplus-rect:before { content: '\e909'; } /* '' */
.icon-github-text:before { content: '\e90a'; } /* '' */
.icon-github-3:before { content: '\e90b'; } /* '' */
.icon-icq:before { content: '\e90c'; } /* '' */
.icon-yandex-rect:before { content: '\e90d'; } /* '' */
.icon-vkontakte-rect:before { content: '\e90e'; } /* '' */
.icon-odnoklassniki:before { content: '\e90f'; } /* '' */
.icon-odnoklassniki-rect:before { content: '\e910'; } /* '' */
.icon-friendfeed:before { content: '\e911'; } /* '' */
.icon-friendfeed-rect:before { content: '\e912'; } /* '' */
.icon-blogger-rect:before { content: '\e913'; } /* '' */
.icon-deviantart:before { content: '\e914'; } /* '' */
.icon-lastfm-2:before { content: '\e915'; } /* '' */
.icon-lastfm-rect:before { content: '\e916'; } /* '' */
.icon-linkedin-rect:before { content: '\e917'; } /* '' */
.icon-picasa-1:before { content: '\e918'; } /* '' */
.icon-instagram-3:before { content: '\e919'; } /* '' */
.icon-instagram-filled:before { content: '\e91a'; } /* '' */
.icon-box:before { content: '\e91b'; } /* '' */
.icon-box-rect:before { content: '\e91c'; } /* '' */
.icon-youku:before { content: '\e91d'; } /* '' */
.icon-win8:before { content: '\e91e'; } /* '' */
.icon-discover:before { content: '\e91f'; } /* '' */
.icon-visa:before { content: '\e920'; } /* '' */
.icon-houzz:before { content: '\e921'; } /* '' */
.icon-emo-happy:before { content: '\e922'; } /* '' */
.icon-emo-unhappy:before { content: '\e923'; } /* '' */
.icon-emo-sleep:before { content: '\e924'; } /* '' */
.icon-emo-surprised:before { content: '\e925'; } /* '' */
.icon-emo-sunglasses:before { content: '\e926'; } /* '' */
.icon-emo-coffee:before { content: '\e927'; } /* '' */
.icon-print-1:before { content: '\e928'; } /* '' */
.icon-chart-pie:before { content: '\e929'; } /* '' */
.icon-chart-bar:before { content: '\e92a'; } /* '' */
.icon-magnet:before { content: '\e92b'; } /* '' */
.icon-database:before { content: '\e92c'; } /* '' */
.icon-flow-cascade:before { content: '\e92d'; } /* '' */
.icon-flow-branch:before { content: '\e92e'; } /* '' */
.icon-flow-tree:before { content: '\e92f'; } /* '' */
.icon-lock-filled:before { content: '\e930'; } /* '' */
.icon-lock-2:before { content: '\e931'; } /* '' */
.icon-clock-1:before { content: '\e932'; } /* '' */
.icon-award:before { content: '\e933'; } /* '' */
.icon-award-1:before { content: '\e934'; } /* '' */
.icon-comment-1:before { content: '\e935'; } /* '' */
.icon-chat:before { content: '\e936'; } /* '' */
.icon-lock-3:before { content: '\e937'; } /* '' */
.icon-lock-open-2:before { content: '\e938'; } /* '' */
.icon-ok-circled2:before { content: '\e939'; } /* '' */
.icon-ok-circled:before { content: '\e93a'; } /* '' */
.icon-star-2:before { content: '\e93b'; } /* '' */
.icon-star-empty:before { content: '\e93c'; } /* '' */
.icon-star-half:before { content: '\e93d'; } /* '' */
.icon-bookmark:before { content: '\e93e'; } /* '' */
.icon-flag:before { content: '\e93f'; } /* '' */
.icon-export-1:before { content: '\e940'; } /* '' */
.icon-emo-angry:before { content: '\e941'; } /* '' */
.icon-emo-laugh:before { content: '\e942'; } /* '' */
.icon-spin1:before { content: '\e943'; } /* '' */
.icon-spin2:before { content: '\e944'; } /* '' */
.icon-spin3:before { content: '\e945'; } /* '' */
.icon-spin4:before { content: '\e946'; } /* '' */
.icon-spin5:before { content: '\e947'; } /* '' */
.icon-spin6:before { content: '\e948'; } /* '' */
.icon-firefox-1:before { content: '\e949'; } /* '' */
.icon-chrome-2:before { content: '\e94a'; } /* '' */
.icon-opera-1:before { content: '\e94b'; } /* '' */
.icon-ie-1:before { content: '\e94c'; } /* '' */
.icon-crown:before { content: '\e94d'; } /* '' */
.icon-crown-plus:before { content: '\e94e'; } /* '' */
.icon-crown-minus:before { content: '\e94f'; } /* '' */
.icon-marquee:before { content: '\e950'; } /* '' */
.icon-emo-displeased:before { content: '\e951'; } /* '' */
.icon-emo-beer:before { content: '\e952'; } /* '' */
.icon-emo-grin:before { content: '\e953'; } /* '' */
.icon-emo-saint:before { content: '\e954'; } /* '' */
.icon-emo-cry:before { content: '\e955'; } /* '' */
.icon-emo-shoot:before { content: '\e956'; } /* '' */
.icon-emo-squint:before { content: '\e957'; } /* '' */
.icon-emo-devil:before { content: '\e958'; } /* '' */
.icon-emo-thumbsup:before { content: '\e959'; } /* '' */
.icon-emo-wink:before { content: '\e95a'; } /* '' */
.icon-emo-wink2:before { content: '\e95b'; } /* '' */
.icon-heart-2:before { content: '\e95c'; } /* '' */
.icon-heart-empty-1:before { content: '\e95d'; } /* '' */
.icon-ok-3:before { content: '\e95e'; } /* '' */
.icon-folder-1:before { content: '\e95f'; } /* '' */
.icon-folder-open:before { content: '\e960'; } /* '' */
.icon-cog-1:before { content: '\e961'; } /* '' */
.icon-clock-2:before { content: '\e962'; } /* '' */
.icon-block-1:before { content: '\e963'; } /* '' */
.icon-left-hand:before { content: '\e964'; } /* '' */
.icon-up-hand:before { content: '\e965'; } /* '' */
.icon-down-hand:before { content: '\e966'; } /* '' */
.icon-right-hand:before { content: '\e967'; } /* '' */
.icon-check:before { content: '\e968'; } /* '' */
.icon-adjust-1:before { content: '\e969'; } /* '' */
.icon-check-empty:before { content: '\f096'; } /* '' */
.icon-bookmark-empty:before { content: '\f097'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-rss-2:before { content: '\f09e'; } /* '' */
.icon-pinterest-circled:before { content: '\f0d2'; } /* '' */
.icon-gplus-squared:before { content: '\f0d4'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-comment-empty:before { content: '\f0e5'; } /* '' */
.icon-chat-empty:before { content: '\f0e6'; } /* '' */
.icon-lightbulb:before { content: '\f0eb'; } /* '' */
.icon-circle-empty:before { content: '\f10c'; } /* '' */
.icon-circle:before { content: '\f111'; } /* '' */
.icon-github:before { content: '\f113'; } /* '' */
.icon-folder-empty:before { content: '\f114'; } /* '' */
.icon-folder-open-empty:before { content: '\f115'; } /* '' */
.icon-terminal:before { content: '\f120'; } /* '' */
.icon-code-2:before { content: '\f121'; } /* '' */
.icon-star-half-alt:before { content: '\f123'; } /* '' */
.icon-direction-2:before { content: '\f124'; } /* '' */
.icon-angle-circled-left:before { content: '\f137'; } /* '' */
.icon-angle-circled-right:before { content: '\f138'; } /* '' */
.icon-angle-circled-up:before { content: '\f139'; } /* '' */
.icon-angle-circled-down:before { content: '\f13a'; } /* '' */
.icon-html5:before { content: '\f13b'; } /* '' */
.icon-lock-open-alt:before { content: '\f13e'; } /* '' */
.icon-export-alt:before { content: '\f14d'; } /* '' */
.icon-euro:before { content: '\f153'; } /* '' */
.icon-dollar:before { content: '\f155'; } /* '' */
.icon-bitcoin-1:before { content: '\f15a'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-stackoverflow:before { content: '\f16c'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-tumblr:before { content: '\f173'; } /* '' */
.icon-tumblr-squared:before { content: '\f174'; } /* '' */
.icon-windows:before { content: '\f17a'; } /* '' */
.icon-box-1:before { content: '\f187'; } /* '' */
.icon-bug:before { content: '\f188'; } /* '' */
.icon-dot-circled:before { content: '\f192'; } /* '' */
.icon-vimeo-squared:before { content: '\f194'; } /* '' */
.icon-wordpress:before { content: '\f19a'; } /* '' */
.icon-google:before { content: '\f1a0'; } /* '' */
.icon-language:before { content: '\f1ab'; } /* '' */
.icon-steam:before { content: '\f1b6'; } /* '' */
.icon-steam-squared:before { content: '\f1b7'; } /* '' */
.icon-codeopen:before { content: '\f1cb'; } /* '' */
.icon-circle-notch:before { content: '\f1ce'; } /* '' */
.icon-git-squared:before { content: '\f1d2'; } /* '' */
.icon-git:before { content: '\f1d3'; } /* '' */
.icon-circle-thin:before { content: '\f1db'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
.icon-share:before { content: '\f1e0'; } /* '' */
.icon-twitch:before { content: '\f1e8'; } /* '' */
.icon-paypal:before { content: '\f1ed'; } /* '' */
.icon-cc-visa:before { content: '\f1f0'; } /* '' */
.icon-cc-mastercard:before { content: '\f1f1'; } /* '' */
.icon-toggle-off:before { content: '\f204'; } /* '' */
.icon-toggle-on:before { content: '\f205'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-pinterest:before { content: '\f231'; } /* '' */
.icon-sticky-note:before { content: '\f249'; } /* '' */
.icon-sticky-note-o:before { content: '\f24a'; } /* '' */
.icon-trademark:before { content: '\f25c'; } /* '' */
.icon-registered:before { content: '\f25d'; } /* '' */
.icon-creative-commons:before { content: '\f25e'; } /* '' */
.icon-wikipedia-w:before { content: '\f266'; } /* '' */
.icon-safari:before { content: '\f267'; } /* '' */
.icon-chrome:before { content: '\f268'; } /* '' */
.icon-firefox:before { content: '\f269'; } /* '' */
.icon-opera:before { content: '\f26a'; } /* '' */
.icon-internet-explorer:before { content: '\f26b'; } /* '' */
.icon-edge:before { content: '\f282'; } /* '' */
.icon-hashtag:before { content: '\f292'; } /* '' */
.icon-github-squared:before { content: '\f300'; } /* '' */
.icon-github-circled-1:before { content: '\f301'; } /* '' */
.icon-twitter-3:before { content: '\f302'; } /* '' */
.icon-flickr:before { content: '\f303'; } /* '' */
.icon-twitter-squared:before { content: '\f304'; } /* '' */
.icon-yandex:before { content: '\f305'; } /* '' */
.icon-vimeo:before { content: '\f306'; } /* '' */
.icon-vimeo-circled:before { content: '\f307'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-twitter-1:before { content: '\f309'; } /* '' */
.icon-twitter-circled:before { content: '\f30a'; } /* '' */
.icon-skype-2:before { content: '\f30b'; } /* '' */
.icon-facebook-1:before { content: '\f30c'; } /* '' */
.icon-facebook-circled:before { content: '\f30d'; } /* '' */
.icon-facebook-squared-1:before { content: '\f30e'; } /* '' */
.icon-gplus-1:before { content: '\f30f'; } /* '' */
.icon-gplus-circled:before { content: '\f310'; } /* '' */
.icon-tumblr-3:before { content: '\f311'; } /* '' */
.icon-pinterest-1:before { content: '\f312'; } /* '' */
.icon-pinterest-circled-1:before { content: '\f313'; } /* '' */
.icon-blogger-1:before { content: '\f314'; } /* '' */
.icon-tumblr-1:before { content: '\f315'; } /* '' */
.icon-tumblr-circled:before { content: '\f316'; } /* '' */
.icon-jabber:before { content: '\f317'; } /* '' */
.icon-linkedin-1:before { content: '\f318'; } /* '' */
.icon-linkedin-circled:before { content: '\f319'; } /* '' */
.icon-linkedin-3:before { content: '\f31a'; } /* '' */
.icon-dribbble:before { content: '\f31b'; } /* '' */
.icon-dribbble-circled:before { content: '\f31c'; } /* '' */
.icon-wordpress-2:before { content: '\f31d'; } /* '' */
.icon-stumbleupon:before { content: '\f31e'; } /* '' */
.icon-stumbleupon-circled:before { content: '\f31f'; } /* '' */
.icon-diigo:before { content: '\f320'; } /* '' */
.icon-lastfm:before { content: '\f321'; } /* '' */
.icon-lastfm-circled:before { content: '\f322'; } /* '' */
.icon-tudou:before { content: '\f323'; } /* '' */
.icon-rdio:before { content: '\f324'; } /* '' */
.icon-rdio-circled:before { content: '\f325'; } /* '' */
.icon-amex:before { content: '\f326'; } /* '' */
.icon-spotify:before { content: '\f327'; } /* '' */
.icon-spotify-circled:before { content: '\f328'; } /* '' */
.icon-mastercard:before { content: '\f329'; } /* '' */
.icon-qq:before { content: '\f32a'; } /* '' */
.icon-bandcamp:before { content: '\f32b'; } /* '' */
.icon-codepen:before { content: '\f32c'; } /* '' */
.icon-instagram-1:before { content: '\f32d'; } /* '' */
.icon-dropbox:before { content: '\f330'; } /* '' */
.icon-evernote:before { content: '\f333'; } /* '' */
.icon-flattr:before { content: '\f336'; } /* '' */
.icon-skype:before { content: '\f339'; } /* '' */
.icon-skype-circled:before { content: '\f33a'; } /* '' */
.icon-renren:before { content: '\f33c'; } /* '' */
.icon-sina-weibo:before { content: '\f33f'; } /* '' */
.icon-paypal-1:before { content: '\f342'; } /* '' */
.icon-picasa:before { content: '\f345'; } /* '' */
.icon-soundcloud:before { content: '\f348'; } /* '' */
.icon-mixi:before { content: '\f34b'; } /* '' */
.icon-behance:before { content: '\f34e'; } /* '' */
.icon-google-circles:before { content: '\f351'; } /* '' */
.icon-vkontakte:before { content: '\f354'; } /* '' */
.icon-smashing:before { content: '\f357'; } /* '' */
.icon-db-shape:before { content: '\f600'; } /* '' */
.icon-sweden:before { content: '\f601'; } /* '' */
.icon-logo-db:before { content: '\f603'; } /* '' */
